@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif, "Abril Fatface", cursive, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue";

  /* 현재 글꼴 "Segoe UI" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* @apply max-w-screen-2xl m-auto; */
  /* max-width: 1300px; */
  /* margin: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

/* Carousel */
.viewer {
  width: 100vw;
  max-width: 1456px;
  overflow: hidden;
  background-color: red;
}

.slider {
  width: calc(100vw * 5);
}

.slide {
  width: 100vw;
}

.slide1 {
  transform: translateX(calc(-100vw * 1));
}
.slide2 {
  transform: translateX(calc(-100vw * 2));
}
.slide3 {
  transform: translateX(calc(-100vw * 3));
}
.slide4 {
  transform: translateX(calc(-100vw * 4));
}
.first-slide {
  transform: translateX(-1400px);
}

.banner-img {
  width: 100vw;
  height: 100vh;
  max-width: 1040px;
  max-height: 800px;
}

.banner1 {
  background-image: url("../public/images/home/banner1.jpg");
}
.banner2 {
  background-image: url("https://res.cloudinary.com/dysdtbktd/image/upload/c_scale,w_1040/v1678444072/shoppy/aaron-robinson-k1efdruuT5E-unsplash_c8wgjl.jpg");
}
.banner3 {
  background-image: url("https://res.cloudinary.com/dysdtbktd/image/upload/c_scale,h_800,w_1080/v1678444074/shoppy/averie-woodard-4nulm-JUYFo-unsplash_abj5b1.jpg");
}

/* 작아졌을때 slide1234를 screen으로 100vw지 */
/* @media (max-width: 768px) {
  .viewer {
    width: 100vw;
  }
  .slider {
    width: calc(100vw * 5);
  }
  .first-slide {
    transform: translateX(-90vw);
  }
  .slide1 {
    transform: translateX(calc(-100vw * 1));
  }
  .slide2 {
    transform: translateX(calc(-100vw * 2));
  }
  .slide3 {
    transform: translateX(calc(-100vw * 3));
  }
  .slide4 {
    transform: translateX(calc(-100vw * 4));
  }
} */

/* 
브라우저가 md이하의 사이즈가 되어 slide의 너비가 줄어들면 그에 맞게 slider의 너비도 줄어야 한다.

width: {
        banner: "1040px",
        section: "1465px",
        slider: "7325px",
      },

뷰어의 너비가 w-section 
slide의 너비가 w-section
위 둘은 같은 클래스를 주면 돼

slider의 너비는 w-slider = w-section * 4



*/

.test {
  width: calc(25vw * 2);
}
